body {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #000;
    background-color: #f2f2f2;
    text-transform: uppercase;
}

section, div, main, footer {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
    -webkit-box-shadow: 
        5px 0 10px rgba(0,0,0,0.1),
        -5px 0 10px rgba(0,0,0,0.1);
    -moz-box-shadow: 
        5px 0 10px rgba(0,0,0,0.1),
        -5px 0 10px rgba(0,0,0,0.1);
    box-shadow: 
        5px 0 10px rgba(0,0,0,0.1),
        -5px 0 10px rgba(0,0,0,0.1);
    position: relative;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

h2 {
    font-size: 30px;
    line-height: 36px; 
}

h3 {
    font-size: 21px;
    line-height: 26px;  
}

.site-navigation,
.reasons-list,
.features-list, 
.footer-social-list,
.hotels-filter,
.hotels {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-header-logo {
    position: absolute;
    top: 0;
    left: 44.35%;
    width: 138px;
    height: 70px;
    z-index: 1;
}

.main-navigation {
    background-color: #fff;
    padding: 15px 0;
}

.main-navigation a {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: #000;
    text-decoration: none;
}

.main-navigation a:hover,
.menu-active a:hover {
    color: #81b3d2;
}

.main-navigation a:focus,
.main-navigation a:active {
    color: #b2b2b2;
}

.menu-active a {
    color: #b2b2b2;
}

.site-navigation {
    display: flex;
    justify-content: flex-start;
}

.site-navigation {
    padding-left: 6%;
    padding-right: 6%;
}

.site-navigation li {
    width: 22.72%;
}

.site-navigation li:first-child {
    text-align: left;
    padding-right: 2.27%;
}

.site-navigation li:nth-child(2){
    text-align: left;
    padding-right: 9%;
}

.site-navigation li:nth-child(3),
.site-navigation li:last-child {
    text-align: right;
    padding-left: 2.27%;
}

main, footer {
    background-color: #fff;
}

.headline {
    position: relative;
}

.headline-image-text {
    position: absolute;
    top: 75px;
    left: 372px;
}
.headline p {
    text-align: center;
    margin: 52px 0 25px 0;
}

.headline span {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.reasons-wrap {
    display: flex;
    justify-content: flex-start;
}

.reasons-item-text-block-blue {
    text-align: center;
    padding: 25px 60px 40px 60px;
}

.reasons-item-text-block {
    text-align: center;
    padding: 50px 60px;
}

.reasons-list {
    display: flex;
    justify-content: space-between;
    background: #f2f2f2;
}

.reasons-text-headline {
    font-size: 14px;
    line-height: 26px;
    color: #333;
    text-align: center;
    margin-bottom: 50px;
}

.reasons-list li {
    padding: 25px 70px 65px 70px;
    color: #000;
    text-align: center;
}

.reasons-item-blue {
    background-color: #81b3d2;
    color: #fff;
}

.reasons-title {
    font-size: 21px;
    line-height: 24px;
}

.reasons-number,
.reasons-text {
    font-size: 14px;
    line-height: 21px;
}

.reasons-number {
    display: block;
    margin-bottom: -3px;
}

.reasons-text {
    display: block;
    margin-top: -3px;
    margin-bottom: -5px; 
}

.reasons-number::before {
    content: "— ";
}

.reasons-number::after {
    content: " —";
}


.features-list {
    display: flex;
    justify-content: space-between;
}

.features-item {
    width: 33.3%;
    padding: 60px 60px 72px 60px;
    text-align: center;
}

.features-title {
    font-size: 21px;
    line-height: 21px;
}

.features-text {
    font-size: 14px;
    line-height: 21px;
    color: #333;
}

.hotel-search {
    position: relative;
    padding-top: 20px;
}

.hotel-search-healine {
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
    text-align: center;
}

.hotel-search-text {
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    margin-top: -5px;
}

.hotel-search-button {
    margin-top: 33px;
    margin-left: 315px;
    font-family: inherit;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #fff;
    background: #766357;
    border: 0;
    cursor: pointer;
    text-align: center;
    padding: 30px 140px;
    text-transform: inherit;
}

.hotel-search-button:hover {
    background-color: #604e43;
}

.hotel-search-button:active {
    color: #857871;
}

.main-footer {
    position: absolute;
    bottom: 0;
    width: 1200px;
    background-color: rgba(254, 254, 254, 0.8);
}

.footer-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 85px 20px 80px;
}

.footer-tag {
    display: block;
    padding-left: 50px;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
}

.footer-social-list {
    display: flex;
    justify-content: space-between;
    padding-left: 43px;
}

.footer-social-item {
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
    cursor: pointer;
    margin-right: 6px;
}

.footer-social-item:hover,
.footer-social-item:focus,
.footer-social-item:active {
    background-color: #669EC1; 
}

.footer-social-item:active svg #twitter,
.footer-social-item:active svg #facebook,
.footer-social-item:active svg #youtube {
    fill: #8AB6D1;
}

.social-button-twitter {
    display: block;
    margin-left: 15px;
    margin-top: 14px;
}

.social-button-facebook {
    display: block;
    margin-left: 16px;
    margin-top: 14px;
}

.social-button-youtube {
    display: block;
    margin-left: 13px;
    margin-top: 14px;
}

.footer-copywright {
    font-size: 14px;
    line-height: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 18px;
}

.footer-copywright-link {
    display: block;
    margin-top: 5px;
    margin-left: 10px;
}

svg:hover #html-academy-logo {
    fill: #81b3d2;
}

svg:active #html-academy-logo {
    fill: #bdbbbc;
}

.hotel-search-form {
    max-width: 500px;
}

.hotel-search-form-button {
    font-family: inherit;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #fff;
    background: #81b3d2;
    border: 0;
    cursor: pointer;
    text-align: center;
    padding: 16px 196px;
    text-transform: inherit;
}

.hotel-search-form-button:hover {
    background-color: #669ec0;
}

.hotel-search-form-button:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.5);
}

.modal {
    color: #000;
    background-color: #fff;
}

@keyframes appearance {
 0% { transform: translateY(400px); }
 70% { transform: translateY(-10px); }
 90% { transform: translateY(10px); }
 100% { transform: translateY(0); }
 }

.modal-search {
    display: block;
    position: absolute;
    left: 315px;
    top: 292px;
    z-index: 1;
    width: 570px;
    animation-name: appearance;
    animation-duration: 0.4s;
    -webkit-box-shadow: 0px 2px 10px 2px rgba(166,166,166,1);
    -moz-box-shadow: 0px 2px 10px 2px rgba(166,166,166,1);
    box-shadow: 0px 2px 10px 2px rgba(166,166,166,1);
}

.modal-hide {
    display: none;
}

.hotel-search-form {
    padding: 55px 56px 55px 56px;
}

.form-text-wrap {
    display: flex;
    justify-content: space-between;
}

.form-text-wrap-inputs,
.form-text-wrap-labels {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-text-wrap-labels {
    padding-top: 6px;
    padding-bottom: 36px;
}

.hotel-search-form label {
    font-family: inherit;
    font-size: 14px; 
    line-height: 26px;
    font-weight: bold;
}

.form-text-wrap-inputs {
    position: relative;
}

.form-text-wrap-inputs input,
.form-num input {
    font: inherit;
    color: #000;
    text-transform: uppercase;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
}

.form-text-wrap-inputs input {
    width: 293px;
    height: 28px;
    margin-left: auto;
    margin-bottom: 30px;
    padding: 5px 40px 5px 12px;
}

.calendar-svg {
    position: absolute;
}

.calendar-svg-date-in {
    top: 8px;
    left: 317px;
}

.calendar-svg-date-out {
    top: 79px;
    left: 317px;
}

.calendar-svg svg {
    fill: #a9a9a9;
    cursor: pointer;
}

.calendar-svg:hover svg {
    fill: #000;
}

.calendar-svg:focus svg,
.calendar-svg:active svg {
    fill: #81b3d2;
}

.form-text-wrap-inputs input:hover svg {
    fill: #fff;
}

.form-num-wrap {
    display: flex;
    justify-content: space-between;
}

.form-num {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.form-num input {
    width: 115px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 52px;
}

.form-num label {
    margin-top: 6px;
}

.form-num-pm {
    position: absolute;
    width: 11px;
    height: 11px;
}

.form-num input {
    width: 117px;
    height: 28px;
}

.form-num-minus-adults {
    top: 6px;
    left: 125px;
}

.form-num-minus-kids {
    top: 6px;
    left: 118px;
}

.form-num-plus-adults {
    top: 6px;
    left: 203px;
}

.form-num-plus-kids {
    top: 6px;
    left: 194px;
}

.form-num-pm svg {
    fill: #a9a9a9;
    cursor: pointer;
}

.form-num-minus-adults:hover svg,
.form-num-plus-adults:hover svg,
.form-num-minus-kids:hover svg,
.form-num-plus-kids:hover svg {
    fill: #000;
}

.form-num-minus-adults:focus svg,
.form-num-plus-adults:focus svg,
.form-num-minus-kids:focus svg,
.form-num-plus-kids:focus svg,
.form-num-minus-adults:active svg,
.form-num-plus-adults:active svg,
.form-num-minus-kids:active svg,
.form-num-plus-kids:active svg {
    fill: #81b3d2;
}

.form-num-adults {
    width: 250px;
    padding-right: 10px;
}

.adults-label {
    margin-right: 39px;
}

.form-num-kids {
    width: 210px;
    padding-left: 40px;
}

.form-num-kids label {
    margin-left: 0px;
}

.form-num-kids input {
    margin-left: auto;
}

.hotel-search-form input[value] {
    color: #000;
    font-family: inherit;
    font-size: 14px; 
    line-height: 26px;
    text-transform: uppercase;
    font-weight: bold;
}

.hotel-search-form input:hover {
    background-color: #ebebeb;
    border: 1px solid #ebebeb;
}

.hotel-search-form input:active,
.hotel-search-form input:focus {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    outline: none;
}

.map {
    height: 594px;
    background-image: url(../img/map.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: #CBE6A3;
}

.filter {
    background-image: url(../img/search.jpg);
    background-color: #3F769F;
}

.filter fieldset {
    border: none;
}

.type {
    margin-left: -5px;
}

.hotels-filter-form {
    display: flex;
    justify-content: flex-start;
    color: #fff;
    font-family: inherit;
    font-size: 16px; 
    line-height: 26px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    padding: 23px 58px 19px 58px;
}

.hotels-filter-infrastructure-block {
    margin-right: 100px;
}

.hotels-filter-range-block {
    margin-left: auto;
    width: 330px;
    padding: 0 12px 0 0;
}

.hotels-filter-form label {
    color: #fff;
    font-family: inherit;
    font-size: 14px; 
    line-height: 26px;
    font-weight: 400;
    cursor: pointer;
}

.hotels-filter-option {
    position: relative;
    padding-left: 40px;
    
}

.hotels-filter {
    margin-top: 16px;
}

.hotels-filter li {
    margin-bottom: 19px;
}

.hotels-filter li:last-child {
    margin-bottom: -3px;
}


.hotels-filter-option input[type="checkbox"] + .checkbox-indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 19px;
    height: 19px;
    border: 2px solid #fff;
    border-radius: 2px;
}

.hotels-filter-option input[type="checkbox"]:disabled + .checkbox-indicator {
    border: 2px solid #b2b2b2;
}

.hotels-filter-option input[type="checkbox"]:focus + .checkbox-indicator {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

.hotels-filter-option input[type="checkbox"]:checked + .checkbox-indicator::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 2px;
    width: 11px;
    height: 4px;
    background-color: #fff;
    transform: rotate(45deg);
}

.hotels-filter-option input[type="checkbox"]:checked:disabled + .checkbox-indicator::before {
    background-color: #b2b2b2;
}

.hotels-filter-option input[type="checkbox"]:checked + .checkbox-indicator::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 6px;
    width: 20px;
    height: 4px;
    background-color: #fff;
    transform: rotate(-45deg);
}

.hotels-filter-option input[type="checkbox"]:checked:disabled + .checkbox-indicator::after {
    background-color: #b2b2b2;
}

.hotel-filter-button {
    display: block;
    margin: 0 auto;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 2px;
    background: transparent;
    cursor: pointer;
    padding: 5px 30px;
    text-transform: inherit;
    outline: none;
}

.hotel-filter-button:hover {
    color: #000;
    border: 2px solid #fff;
    background: #fff;
}

.hotels-filter-range-block legend {
    width: 315px;
    margin-left: auto;
}

.price-control {
    position: relative;
    width: 315px;
    height: 34px;
    margin-left: auto;
    margin-top: 8px;
    margin-bottom: 20px;
    font-size: 0;
    border: 2px solid #fff;
    border-radius: 2px;

}

.price-control::after {
    position: absolute;
    content: "";
    width: 2px;
    height: 22px;
    background-color: #fff;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
}

.price-control label {
    display: inline-block;
    font-size: 14px;
    line-height: 34px;
    vertical-align: top;
    cursor: pointer;
    width: 90px;
    padding-left: 65px;
}

.price-control input {
    width: 50px;
    margin: 0;
    color: inherit;
    font: inherit;
    line-height: 16px;
    background: none;
    border: none;
    outline: none;
}

.range-control {
    position: relative;
    margin-left: auto;
    margin-bottom: 32px;
    width: 315px;
}

.range-control .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}

.bar {
    height: 2px;
    width: 80%;
    background-color: #fff;
}

.range-toggle {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
}

.range-toggle:hover {
    background: #1c4f80;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.sort {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 6% 25px 6%;
    border-bottom: 1px solid #e5e5e5;
}

.sort span {
    display: block;
}

.sort-count {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    margin-right: 50px;
}

.sort-text {
    font-size: 12px;
    line-height: 18px;
    margin-right: 40px;
}

.sort-type {
    font-size: 12px;
    line-height: 18px;
    color: #a9a9a9;
    text-decoration: none;
    margin-right: 30px;
    margin-top: 2px;
    border-bottom: 1px dotted #81b3d2;
}

.sort-type-active {
    color: #81b3d2;
    border-bottom: 1px solid transparent;
}

.sort-dir-wrap {
    margin-left: auto;
}

.sort-dir-wrap:last-child a {
    margin-left: 8px;
}

a.sort-dir {
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    cursor: pointer;
}


.sort-dir::before {
    content: "";
    border: 10px solid #cacaca;
    border-right-width: 5px;
    border-left-width: 5px;
    border-right-color: transparent;
    border-left-color: transparent;
    display: inline-block;
    vertical-align: middle;
}


.sort-dir-up::before {
    border-top-width: 0;
}


.sort-dir-down::before {
    border-bottom-width: 0;
}

.sort-dir-active::before {
    border-color: #81b3d2;
    border-right-color: transparent;
    border-left-color: transparent;
}

.sort-dir:hover::before {
    border-color: #231f20;
    border-right-color: transparent;
    border-left-color: transparent;
}

.sort-dir:active::before {
    border-color: #81b3d2;
    border-right-color: transparent;
    border-left-color: transparent;
}

.sort-dir:focus::before {
    border-color: #81b3d2;
    border-right-color: transparent;
    border-left-color: transparent;
}

.hotels-item {
    display: flex;
    justify-content: flex-start;
    padding: 30px 6% 23px 6%;
    border-bottom: 1px solid #e5e5e5;
}

.hotels-item-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hotels-item-info-wrap {
    padding-bottom: 7px;
}

.hotels-item-img {
    margin-right: 30px;
}

.hotel-item-info-title {
    display: block;
    margin-top: -5px;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.hotel-item-info-title a {
    color: #000;
}

.hotel-item-info-title a:hover {
    color: #81b3d2;
}

.hotel-item-info-title a:focus,
.hotel-item-info-title a:active {
    color: #b2b2b2;
}

.hotel-item-info-type,
.hotel-item-info-price {
    font-size: 14px;
    line-height: 21px;
}

.hotel-item-info-type {
    width: 110px;
    display: inline-block;
    vertical-align: middle;
}

.hotel-item-info-price {
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
}

.hotels-item-rating {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 5px;
}

.hotels-item-rating-stars {
}

.hotels-item-rating-stars-4 {
    width: 80%;
    overflow: hidden;
    margin-left: auto;
}

.hotels-item-rating-stars-3 {
    width: 60%;
    overflow: hidden;
    margin-left: auto;
}

.hotels-item-rating-stars-2 {
    width: 40%;
    overflow: hidden;
    margin-left: auto;
}

.hotels-item-rating-userrate {
    width: 110px;
    height: 27px;
    font-size: 14px;
    line-height: 21px;
    color: #666;
    background-color: #f2f2f2;
    margin-left: auto;
}

.hotels-item-rating-userrate span {
    display: block;
    margin-left: 12px;
    margin-top: 3px;
}

.hotels-list {
    background-color: #fefefe;
}

.button-info {
    height: 27px;
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    color: #fff;
    background-color: #81b3d2;
    padding: 3px 10px; 
    text-transform: inherit;
    border: none;
    cursor: pointer;
    margin-right: 2px;
}

.button-info:hover {
    background-color: #669ec0;
}

.button-info:active,
.button-info:focus {
    color: rgba(255, 255, 255, 0.5);
    background-color: #5496bd;
    outline: none;
}

.button-booking {
    height: 27px;
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    color: #fff;
    background-color: #766357;
    padding: 3px 7px; 
    text-transform: inherit;
    border: none;
    cursor: pointer;    
}

.button-booking:hover {
    background-color: #604e43;
}

.button-booking:active,
.button-booking:focus {
    color: rgba(255, 255, 255, 0.5);
    background-color: #503e33;
    outline: none;
}