body {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #000;
    background-color: #f2f2f2;
    text-transform: uppercase;
}

section, div, main, footer {
    margin: 0;
    padding: 0;
}


a {
    text-decoration: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
    box-shadow: 
        5px 0 10px rgba(0,0,0,0.1),
        -5px 0 10px rgba(0,0,0,0.1);
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

h2 {
    font-size: 30px;
    line-height: 36px; 
}

h3 {
    font-size: 21px;
    line-height: 26px;  
}

.site-navigation,
.reasons-list,
.features-list, 
.footer-social-list,
.hotels-filter,
.hotels {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-header-logo {
    position: absolute;
    top: 0;
    left: 605px;
    width: 138px;
    height: 70px;
    z-index: 1;
}

.main-navigation {
    background-color: #fff;
    padding: 15px 80px;
}

.main-navigation a {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: #000;
    text-decoration: none;
}

.main-navigation a:hover {
    color: #81b3d2;
}

.main-navigation a:focus,
.main-navigation a:active {
    color: #b2b2b2;
}

.site-navigation {
    display: flex;
    justify-content: flex-start;
}

.site-navigation li {
    display: block;
    width: 200px;
    margin-right: 50px;
}

main, footer {
    background-color: #fff;
}

.headline {
    position: relative;
}

.headline-image-text {
    position: absolute;
    top: 75px;
    left: 375px;
}
.headline p {
    text-align: center;
    margin: 50px 0 30px 0;
}

.headline span {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.reasons-wrap {
    display: flex;
    justify-content: flex-start;
}

.reasons-item-text-block {
    text-align: center;
    padding: 50px 60px;
}

.reasons-list {
    display: flex;
    justify-content: space-between;
    background: #f2f2f2;
}

.reasons-text-headline {
    font-size: 14px;
    line-height: 26px;
    color: #333;
    text-align: center;
    margin-bottom: 50px;
}

.reasons-list li {
    padding: 25px 70px 55px 70px;
    color: #000;
    text-align: center;
}

.reasons-item-blue {
    background-color: #81b3d2;
    color: #fff;
}

.reasons-number,
.reasons-text {
    font-size: 14px;
    line-height: 21px;
}

.features-list {
    display: flex;
    justify-content: space-between;
}

.features-item {
    padding: 50px 60px;
    text-align: center;
}

.features-text {
    font-size: 14px;
    line-height: 21px;
    color: #333;
}

.hotel-search {
    padding-top: 20px;
}

.hotel-search-healine {
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
    text-align: center;
}

.hotel-search-text {
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    margin-top: 25px;
}
.hotel-search-button {
    margin-top: 35px;
    margin-left: 315px;
    font-family: inherit;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #fff;
    background: #766357;
    border: 0;
    cursor: pointer;
    text-align: center;
    padding: 30px 140px;
    text-transform: inherit;
}

.hotel-search-button:hover {
    background-color: #604e43;
}

.hotel-search-button:active {
    color: #857871;
}

.main-footer {
    background-color: rgba(254, 254, 254, 0.8)
}

.footer-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 85px 20px 80px;
}

.footer-tag {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
}

.footer-social-list {
    display: flex;
    justify-content: space-between;
}

.footer-social-item {
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
    cursor: pointer;
    margin-right: 6px;
}

.footer-social-item:hover,
.footer-social-item:focus,
.footer-social-item:active {
    background-color: #669EC1; 
}

.footer-social-item:active svg #twitter,
.footer-social-item:active svg #facebook,
.footer-social-item:active svg #youtube {
    fill: #8AB6D1;
}

.social-button-twitter {
    display: block;
    margin-left: 16px;
    margin-top: 14px;
}

.social-button-facebook {
    display: block;
    margin-left: 16px;
    margin-top: 14px;
}

.social-button-youtube {
    display: block;
    margin-left: 13px;
    margin-top: 14px;
}

.footer-copywright {
    font-size: 14px;
    line-height: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-copywright-link {
    display: block;
    margin-top: 5px;
    margin-left: 10px;
}

svg:hover #html-academy-logo {
    fill: #81b3d2;
}

svg:active #html-academy-logo {
    fill: #bdbbbc;
}

.hotel-search-form {
    max-width: 500px;
}

.hotel-search-form-button {
    font-family: inherit;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #fff;
    background: #81b3d2;
    border: 0;
    cursor: pointer;
    text-align: center;
    padding: 15px 195px;
    text-transform: inherit;
}

.hotel-search-form-button:hover {
    background-color: #669ec0;
}

.hotel-search-form-button:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.5);
}

.modal {
    color: #000;
    background-color: #fff;
    /*display: none;*/
}

.modal p {
    max-width: 450px;
}

.modal-search {
    position: absolute;
    left: 315px;
    top: 2120px;
    z-index: 1;
    padding: 50px 70px;
    width: 570px;
}

.hotel-search-form label {
    font-family: inherit;
    font-size: 14px; 
    line-height: 26px;
    font-weight: bold;
}

.hotel-search-form input[type="text"],
.hotel-search-form input[type="number"] {
    font: inherit;
    color: #000;
    text-transform: uppercase;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
}

.hotel-search-form input[placeholder] {
    color: #000;
    font-family: inherit;
    font-size: 14px; 
    line-height: 26px;
    text-transform: uppercase;
    font-weight: bold;
}

.hotel-search-form input:hover {
    background-color: #ebebeb;
    border: 1px solid #ebebeb;
}

.hotel-search-form input:active,
.hotel-search-form input:focus {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    outline: none;
}

.filter {
    background-image: url(../img/search.jpg)
}

.filter fieldset {
    border: none;
}

.hotels-filter-form {
    display: flex;
    justify-content: flex-start;
    color: #fff;
    font-family: inherit;
    font-size: 16px; 
    line-height: 26px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    padding: 30px 65px;
}

.hotels-filter-infrastructure-block {
    margin-right: 100px;
}

.hotels-filter-range-block {
    margin-left: auto;
}

.hotels-filter-form label {
    color: #fff;
    font-family: inherit;
    font-size: 14px; 
    line-height: 26px;
    font-weight: 400;
}

.hotel-filter-button {
    font-size: 14px;
    line-height: 21px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 2px;
    background: transparent;
    cursor: pointer;
    padding: 6px 30px;
    text-transform: inherit;
}

.hotel-filter-button:hover {
    color: #000;
    border: 2px solid #fff;
    background: #fff;
}

.sort {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 80px;
    border-bottom: 1px solid #e5e5e5;
}

.sort span {
    display: block;
}

.sort-count {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    margin-right: 50px;
}

.sort-text {
    font-size: 12px;
    line-height: 18px;
    margin-right: 40px;
}

.sort-type {
    font-size: 12px;
    line-height: 18px;
    color: #a9a9a9;
    text-decoration: none;
    margin-right: 30px;
    margin-top: 2px;
    border-bottom: 1px dotted #81b3d2;
}

.sort-type-active {
    color: #81b3d2;
    border-bottom: 1px solid transparent;
}

.sort-dir {
    margin-left: auto;
    display: flex;
}

.hotels-item {
    display: flex;
    justify-content: flex-start;
    padding: 50px 80px 45px 80px;
    border-bottom: 1px solid #e5e5e5;
}

.hotels-item-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hotels-item-info-wrap {
    padding-bottom: 5px;
}

.hotels-item-img {
    margin-right: 30px;
}

.hotel-item-info-title {
    display: block;
    margin-top: -5px;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.hotel-item-info-type,
.hotel-item-info-price {
    font-size: 14px;
    line-height: 21px;
}

.hotels-item-rating {
    margin-left: auto;
}

.hotels-item-rating-userrate {
    font-size: 14px;
    line-height: 21px;
    color: #666;
    background-color: #f2f2f2;
    padding: 6px 15px;
}

.hotels-list {
    background-color: #fefefe;
}

.button-info {
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    color: #fff;
    background-color: #81b3d2;
    padding: 5px 10px; 
    text-transform: inherit;
    border: none;
    cursor: pointer;
}

.button-info:hover {
    background-color: #669ec0;
}

.button-info:active,
.button-info:focus {
    color: rgba(255, 255, 255, 0.5);
    background-color: #5496bd;
    outline: none;
}

.button-booking {
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    color: #fff;
    background-color: #766357;
    padding: 5px 10px; 
    text-transform: inherit;
    border: none;
    cursor: pointer;    
}

.button-booking:hover {
    background-color: #604e43;
}

.button-booking:active,
.button-booking:focus {
    color: rgba(255, 255, 255, 0.5);
    background-color: #503e33;
    outline: none;
}